<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
<!--          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="{% static 'main/css/master.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body class="it">
<nav class="navbar mynav" id="navbar" role="navigation">
    <div class="container">
        <a class="navbar-brand mynav" href="{% url 'home' %}">Sparker</a>


        <ul class="nav navbar-nav navbar-right" id="navi">
            {% if user.is_authenticated %}
            <li><a href="{% url 'playlists:playlists' %}" class="btn btn-simple">Your Playlists</a></li>
            <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple">Logout</a></li>
            <li><a href="#" class="btn btn-simple"><b>Hi {{request.user}}</b></a></li>
            {% else %}
            <li><a href="{% url 'accounts:login' %}" class="btn btn-simple">Login</a></li>
            <li><a href="{% url 'accounts:register' %}" class="btn btn-simple">Register</a></li>
            {% endif%}
        </ul>

    </div>
</nav>


    {% block content %}

    {% endblock %}

</body>
</html>